main_menu/setup/start/06_pops.txt.bak
main_menu/localization/english/location_painter_countries_l_english.yml.bak
main_menu/localization/english/location_painter_countries_l_english.yml.bak
main_menu/localization/english/location_painter_countries_l_english.yml.bak
main_menu/setup/start/10_countries.txt.bak
main_menu/localization/english/location_painter_countries_l_english.yml.bak
in_game/setup/countries/_default.txt.bak
